version: '3.9'
services:
  api:
    build:
      context: .
      dockerfile: MediaTracker.Presentation/Dockerfile
    container_name: mediamanager_api
    ports:
      - "5000:80"
    depends_on:
      - postgres
      - redis
    environment:
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=MediaTrackerDB;Username=development;Password=1234"
      ConnectionStrings__Redis: "redis:6379"
  client:
    build:
      context: MediaTracker.Client
      dockerfile: Dockerfile
    container_name: mediamanager_client
    ports:
      - "3000:3000"
    depends_on:
      - api
      - postgres
      - redis

  postgres:
    image: postgres:16
    container_name: mediamanager_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: MediaTrackerDB
      POSTGRES_USER: development
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: mediamanager_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
